/*
 * LilyGo T-Deck adaptation overlay layered on top of the upstream
 * esp32s3_devkitc SoC target. The resident Aegis runtime drives display and
 * input mostly through board-aware backends, so this overlay focuses on buses,
 * aliases, and base pin routing.
 */

#include <zephyr/dt-bindings/i2c/i2c.h>
#include <zephyr/dt-bindings/mipi_dbi/mipi_dbi.h>
#include <zephyr/dt-bindings/pinctrl/esp32s3-pinctrl.h>

/ {
	chosen {
		zephyr,display = &tdeck_st7789v;
		zephyr,console = &usb_serial;
		zephyr,shell-uart = &usb_serial;
	};

	aliases {
		display0 = &tdeck_st7789v;
		touch0 = &tdeck_gt911;
		lora0 = &spi2;
		gps0 = &uart1;
		audioout0 = &i2s0;
		audioin0 = &i2s0;
		rtc0 = &i2c0;
		battery0 = &i2c0;
		hostlink0 = &uart0;
		rotary0 = &tdeck_trackball;
	};

	mipi_dbi {
		compatible = "zephyr,mipi-dbi-spi";
		status = "okay";
		spi-dev = <&spi2>;
		dc-gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>;
		write-only;
		#address-cells = <1>;
		#size-cells = <0>;

		tdeck_st7789v: st7789v@0 {
			compatible = "sitronix,st7789v";
			reg = <0>;
			status = "okay";
			mipi-max-frequency = <20000000>;
			width = <320>;
			height = <240>;
			x-offset = <0>;
			y-offset = <0>;
			vcom = <0x1A>;
			gctrl = <0x75>;
			vrhs = <0x2C>;
			vdvs = <0x20>;
			mdac = <0x60>;
			gamma = <0x01>;
			colmod = <0x55>;
			lcm = <0x13>;
			porch-param = [0C 0C 00 33 33];
			cmd2en-param = [5A 69 02 01];
			pwctrl1-param = [A4 A1];
			pvgam-param = [D0 0D 14 0D 0D 09 38 44 4E 3A 17 18 2F 30];
			nvgam-param = [D0 09 0F 08 07 14 37 44 4D 38 15 16 2C 3E];
			ram-param = [00 F0];
			rgb-param = [40 02 14];
			mipi-mode = "MIPI_DBI_MODE_SPI_4WIRE";
		};
	};

	tdeck_trackball: gpio-keys {
		compatible = "gpio-keys";

		trackball_up {
			gpios = <&gpio0 3 GPIO_ACTIVE_LOW>;
			label = "Trackball Up";
			zephyr,code = <103>;
		};

		trackball_down {
			gpios = <&gpio0 15 GPIO_ACTIVE_LOW>;
			label = "Trackball Down";
			zephyr,code = <108>;
		};

		trackball_left {
			gpios = <&gpio0 1 GPIO_ACTIVE_LOW>;
			label = "Trackball Left";
			zephyr,code = <105>;
		};

		trackball_right {
			gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;
			label = "Trackball Right";
			zephyr,code = <106>;
		};

		trackball_click {
			gpios = <&gpio0 0 GPIO_ACTIVE_LOW>;
			label = "Trackball Click";
			zephyr,code = <28>;
		};
	};
};

&pinctrl {
	tdeck_i2c0_default: tdeck_i2c0_default {
		group1 {
			pinmux = <I2C0_SDA_GPIO18>,
				 <I2C0_SCL_GPIO8>;
			bias-pull-up;
			drive-open-drain;
			output-high;
		};
	};

	tdeck_uart1_default: tdeck_uart1_default {
		group1 {
			pinmux = <UART1_TX_GPIO43>;
			output-high;
		};

		group2 {
			pinmux = <UART1_RX_GPIO44>;
			bias-pull-up;
		};
	};

	tdeck_spim2_default: tdeck_spim2_default {
		group1 {
			pinmux = <SPIM2_MISO_GPIO38>,
				 <SPIM2_SCLK_GPIO40>;
		};

		group2 {
			pinmux = <SPIM2_MOSI_GPIO41>;
			output-low;
		};
	};

	tdeck_ledc0_default: tdeck_ledc0_default {
		group1 {
			pinmux = <LEDC_CH0_GPIO42>;
			output-low;
		};
	};
};

&i2c0 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	pinctrl-0 = <&tdeck_i2c0_default>;
	pinctrl-names = "default";

	tdeck_gt911: touchscreen@5d {
		compatible = "goodix,gt911";
		reg = <0x5d>;
		status = "okay";
		irq-gpios = <&gpio0 16 GPIO_ACTIVE_LOW>;
		alt-addr = <0x14>;
	};
};

&uart1 {
	status = "okay";
	current-speed = <38400>;
	pinctrl-0 = <&tdeck_uart1_default>;
	pinctrl-names = "default";
};

&usb_serial {
	status = "okay";
};

&spi2 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	pinctrl-0 = <&tdeck_spim2_default>;
	pinctrl-names = "default";
	cs-gpios = <&gpio0 12 GPIO_ACTIVE_LOW>;
};

&psram0 {
	size = <DT_SIZE_M(8)>;
};

&i2s0 {
	status = "okay";
};

&adc0 {
	status = "okay";
};

&ledc0 {
	status = "okay";
	pinctrl-0 = <&tdeck_ledc0_default>;
	pinctrl-names = "default";
	#address-cells = <1>;
	#size-cells = <0>;

	channel0@0 {
		reg = <0x0>;
		timer = <0>;
	};
};

&gpio0 {
	tdeck_board_power {
		gpio-hog;
		gpios = <10 GPIO_ACTIVE_HIGH>;
		output-high;
	};
};
